<!-- header -->
{{ template "header" . }}

<!-- contents-->
<form action="/info" method="POST" class="w3-container">
    <!-- input -->
    <label for="oldname" class="w3-text-teal">現在の名前</label>
    <input type="text" name="oldname" value={{ .Username }} readonly class="w3-input w3-border w3-light-grey"><br>
    <label for="oldpass" class="w3-text-teal">現在のパスワード(必須項目)</label>
    <input type="text" name="oldpass" class="w3-input w3-border w3-light-grey"><br>
    <label for="newname" class="w3-text-teal">新しい名前</label>
    <input type="text" name="newname" class="w3-input w3-border w3-light-grey"><br>
    <label for="newpass" class="w3-text-teal">新しいパスワード</label>
    <input type="text" name="newpass" class="w3-input w3-border w3-light-grey"><br>
    <!-- buttons -->
    <input type="submit" value="update" name="submit" class="w3-btn w3-teal">
    <input type="submit" value="delete" name="submit" class="w3-btn w3-blue-grey">
    <!-- message -->
    {{ .Message }}
</form>

<!-- footer -->
<hr><br><br>
<div class="w3-display-container">
<a href="/"><i class="fa fa-home w3-xxlarge w3-text-teal w3-display-bottommiddle">Home</i></a>
<a href="/"><i class="fa fa-arrow-left w3-xxlarge w3-text-teal w3-display-bottomleft">Back</i></a>
</div>
{{ template "footer" }}
