<!-- header -->
{{ template "header" . }}

<!-- contents-->
<form action="/login" method="POST" class="w3-container">
    <!-- input -->
    <label for="username" class="w3-text-teal">名前</label>
    <input type="text" name="username" class="w3-input w3-border w3-light-grey"><br>
    <label for="passward" class="w3-text-teal">パスワード</label>
    <input type="text" name="passward" class="w3-input w3-border w3-light-grey"><br>
    <!-- buttons -->
    <input type="submit" value="login" name="submit" class="w3-btn w3-teal">
    <input type="submit" value="register" name="submit" class="w3-btn w3-blue-grey">
    <!-- message -->
    {{ .Message }}
</form>

<!-- footer -->
<hr><br><br>
<div class="w3-display-container">
<a href="/"><i class="fa fa-home w3-xxlarge w3-text-teal w3-display-bottommiddle">Home</i></a>
</div>
{{ template "footer" }}
