<!-- header -->
{{ template "header" . }}

<!-- contents-->
<form id="update" action="?" method="POST" class="w3-container">
    <!-- input -->
    <label for="title" class="w3-text-teal">タイトル</label>
    <input type="text" name="title" value={{ .Task.Title }} class="w3-input w3-border w3-light-grey"><br>

    <label for="register_time" class="w3-text-teal">登録日</label>
    <input type="datetime-local" name="resister_time" class="w3-input w3-border w3-light-grey" value={{ .Task.CreatedAt_html}} readonly><br>

    <label for="deadline" class="w3-text-teal">締切</label><br>
    <input type="datetime-local" name="deadline" class="w3-input w3-border w3-light-grey" max="2030-12-31T23:59:59" min="2021-11-01T00:00:00" value={{ .Task.Deadline_html}}><br>

    <label for="share" class="w3-text-teal">共有しているユーザー</label>
    <input type="text" name="share" class="w3-input w3-border w3-light-grey" {{ if .Task.IsShared }} value={{ .Task.SharedUsers }} {{ else }} placeholder="User1,ユーザー2" {{ end }}><br>

    <label for="isdone" class="w3-text-teal">状態</label><br>
    <input type="radio" form="update" id="done" name="isdone" value="done" {{ if .Task.IsDone }}checked{{ end }}>
    <label for="done">完了</label>
    <input type="radio" form="update" id="undone" name="isdone" value="undone" {{ if not .Task.IsDone }}checked{{ end }}>
    <label for="undone">未完了</label><br><br>

    <label for="detail" class="w3-text-teal">詳細</label><br>
    <textarea name="detail" form="update" rows="4" cols="50" class="w3-input w3-border w3-light-grey">{{ .Task.Detail }}</textarea><br>
    <!-- buttons -->
    <input type="submit" value="update" name="submit" class="w3-btn w3-teal">
    <!-- message -->
    {{ .Message }}
</form>

<!-- footer -->
<hr><br><br>
<div class="w3-display-container">
<a href="/"><i class="fa fa-home w3-xxlarge w3-text-teal w3-display-bottommiddle">Home</i></a>
<a href="/list"><i class="fa fa-arrow-left w3-xxlarge w3-text-teal w3-display-bottomleft">Back</i></a>
</div>
{{ template "footer" }}
