<!DOCTYPE html>
<html>
    <head>
        <title>入力確認画面 (stateless)</title>
    </head>
    <body>
        <h1>入力結果</h1><hr>
        <dl>
            <dt>名前:</dt><dd>{{ .Name }}</dd>
            <dt>生年月日:</dt><dd>{{ .Date }}</dd>
            <dt>メッセージ:</dt><dd>{{ .Message }}</dd>
        </dl><hr>
        <form action="?" method="POST">
            <!-- buttons -->
            <input type="submit" value="back" formaction="/message-form">
            <input type="submit" value="submit" formaction="/">
            <!-- data -->
            <input type="hidden" name="name" value={{ .Name }}>
            <input type="hidden" name="date" value={{ .Date }}>
            <input type="hidden" name="message" value={{ .Message }}>
        </form>
    </body>
</html>
